@font-face {
  font-family: VazirFA;
  src: url('../../fonts/Vazir-FD.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VazirFA;
  src: url('../../fonts/Vazir-Bold-FD.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VazirFA;
  src: url('../../fonts/Vazir-Black-FD.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VazirFA;
  src: url('../../fonts/Vazir-Medium-FD.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VazirFA;
  src: url('../../fonts/Vazir-Light-FD.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VazirFA;
  src: url('../../fonts/Vazir-Thin-FD.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url('../../fonts/Vazir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url('../../fonts/Vazir-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url('../../fonts/Vazir-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url('../../fonts/Vazir-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url('../../fonts/Vazir-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url('../../fonts/Vazir-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
